* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 4rem;
}

input {
  width: 100%;
  font-size: 1.5rem;
  color: black;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid rgb(88, 81, 70);
  border-radius: .3rem;
  margin: 1rem 2rem;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.card p {
  font-size: .90rem;
  padding: 1.5rem;
  text-align: center;
}

.card img {
  max-height: 10rem;
}

